.btnBack {
  position: absolute;
  top: 16px;
  left: 50px;
  margin-top: 32px;
  cursor: pointer;
  z-index: 20;
}

.btnBack__circle {
  width: 63px;
  height: 63px;
  background: #2b244d;
  border-radius: 50%;
}

.btnBack__icon {
  width: 65px;
  position: absolute;
  top: 0px;
  left: 15px;
}

.btnBack__back {
  font-size: 15px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  margin: 24px 4px 0;
}
